.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link {
  color: white;
  transition: all 0.3s ease 0s;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    cursor: default;
    color: #ccc;
    &:hover {
      text-decoration: none;
    }
  }
}
